{% extends "layout.html" %}

{% block main %}

<div class="seccblack">
    <h1 class="text-white">Welcome to SportsGator NFL!</h1>
    <br>
    <img src="../static/SportsGatorNFLlogo.png" alt="Photo" class="big-image">
    <br><br><br>
    
    <div class="container">
        <div class="col lg-6">

            <h3 class="text-white">The web application in which you will be able to overview the scores of every NFL team, watch their rosters and season schedules, all this in real time!</h3>
            <br>
            <h3 class="text-white">Also, by clicking on the "Catch The Ball" tab, on the navigation bar, you will find an exciting football minigame in which you have to catch a many football balls before they reach the bottom of the screen</h3>
            <br>
            <h3 class="text-white">Hope you find useful and exciting SportsGator NFL, soon we will have coverage for soccer, basketball and tennis leagues!</h3>
            <br><br>

        </div>
    </div>
</div>

{% endblock %}